.modal {
    display: none;
}

.modal__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal__content {
    margin-bottom: rem(20px);
}
.modal--btn--close {
    background-color: yellowgreen;
    &:hover {
        transition: .3s;
        background-color: rgb(190, 255, 60);
    }
}
